@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Work+Sans:wght@700&display=swap');

:root {
    --black: #000;
    --gray: #494c4e;
    --white: #fff;
    --cinzaclaro: #989a91;
    --verdeescuro: #1F3825;
    --verde-claro: #B5E9CA;
}

body{
    background-color: #615d5d7a;
}

.navbar {
    background-color: var(--verdeescuro);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 28px;
    margin-right: 50px;
}

.logoConjunto {
    display: flex;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-right: 758px;
}

.logoB {
    margin-right: 5px;
}

.container-1{
    display: block;
    text-align: center;
}

.img-chat{
    margin-top: 50px;
    width: 450px;
    border-radius: 8px;
    
}

.chat-Input {
    height: 35px;
    width: 412px;
    border-radius: 8px;
    border-color: var(--verde-claro);
    margin-left: 100px;
    margin-bottom: 50px;
}

.bot-chat {
    margin-right: 100px;
    height: 40px;
    border-radius: 8px;
    border-color: var(--verde-claro);

}

.img-chat2 {
    height: 13px;
    width: 13px;
}